# Node.js dependencies
node_modules/

# TypeScript compiled files
dist/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

udon-9d359-firebase-adminsdk-ydghb-57a2d17da7.json

.firebaserc
